* {
    margin: 0;
    padding: 0
}

#startScreen {
    background-image: url("../game/images/startImage.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    /* display:flex; */
    align-items: center;
    justify-content: center;
    padding: 300px 15px;
    

}

#start-button {
    font-size: 50px;
    color: white;
    background-color: #2a0ea8;
    padding: 20px 50px;
    border-radius: 20px;
    margin-left: 560px;
    margin-top: 60px
}

#keys{
    width: 450px;
    padding:180px,100px;
    margin-left: 750px;
    margin-top: 150px
}

#seaPong {
    margin: 20px 0px;

    border-top: 8px solid #e79110dc;
    border-bottom: 8px solid #e79110dc;
}