* {
    margin: 0;
    padding: 0
}

input {
    font-size: 15px;
    text-align: center;
    padding: 25px 25px;
    border-radius: 20px;
    margin-left: 20px;
    
}
h1, h3 {
   color :#FFBB4F ; 
   font-family:sans-serif;
   text-align: center;
   margin: 30px;
}

h1 {
    font-size: 100px;
}

h3 {
    font-size: 40px;
}
#startScreen {
    background-image: url("images/startimg.jpg");
    background-size: cover;
    height: 1000px;
    width: 100%;
    /* display:flex; */
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    

}

#start-button {
    font-size: 50px;
    color: white;
    background-color: #2a0ea8;
    padding: 20px 50px;
    border-radius: 20px;
    margin-left:40px;
    margin-top: 60px;
}

#keys{
    width: 450px;
    padding:30px 100px;
    margin-left: 350px;
    margin-top: 20px
}

#seaPong {
    margin: 20px 0px;

    border-top: 8px solid #03f8c3dc;
    border-bottom: 8px solid #03f8c3dc;
}

#player1{
    margin-left: 350px;
}